.citystyle{margin-left: 18%}

.city-title{font-weight: 600}
.h2style{ height: 80px;font-size: 22px;line-height: 60px;margin-left: 20%}
.city-D{display:inline-block; margin: 14px 20px 24px 0;color: rgb(101,101,101)}